mat-form-field {
  width: 100%;
}

mat-panel-description.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  font-weight: lighter;
  opacity: 0.5;
}
