
  <div class="container" [class.is-mobile]="isMobile()">
    <mat-sidenav-container class="sidenav-container" >
      <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" [fixedInViewport]="isMobile()" class="sidenav">
        <mat-toolbar class="toolbar">
          <button mat-icon-button (click)="snav.toggle()"><mat-icon svgIcon="side-nav"></mat-icon></button>
        </mat-toolbar>
        <mat-nav-list>
          <button mat-button [disableRipple]="true" routerLink="">Dashboard</button>
          <button mat-button [disableRipple]="true" routerLink="/prompt">Prompts</button>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar class="toolbar">
          <button *ngIf="!snav.opened" mat-icon-button (click)="snav.toggle()"><mat-icon svgIcon="side-nav"></mat-icon></button>
          <mat-icon class="logo" svgIcon="logo" routerLink=""></mat-icon><span class="tittle" routerLink="">{{title}}</span>
        </mat-toolbar>
        <router-outlet/>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
