
mat-nav-list {
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  button {
    border-radius: 8px;
    display: inline-flex;
    justify-content: start;
    font-weight: normal;
  }
}

.avatar {
  display: block; /* remove inline img quirks */
  width: 24px; /* match mat-icon size (default 24×24) */
  height: 24px;
  border-radius: 50%; /* circle */
  object-fit: cover; /* scale & crop to fill */
  margin: auto; /* center inside the button */
}

.google {
  width: 175px;
  height: 40px;
  margin: 10px;
}

.auth {
  display: flex;
  flex-direction: column;
  button {
    width: 100%;
  }
}


.tittle {
  padding-left: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav {
  border-radius: 0;
  max-width: 248px;
}


.logo {
  margin-left: 10px;
  cursor: pointer;
}

.user {
  margin-left: auto;
}

.logout {
  width: 100%;
}
