
  <div class="container" [class.is-mobile]="isMobile()">
    <mat-sidenav-container class="sidenav-container" >
      <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" [fixedInViewport]="isMobile()" class="sidenav">
        <mat-toolbar class="toolbar">
          <button mat-icon-button (click)="snav.toggle()"><mat-icon svgIcon="side-nav"></mat-icon></button>
        </mat-toolbar>
        <mat-nav-list>
          <button mat-button [disableRipple]="true" routerLink="">Dashboard</button>
          <button mat-button [disableRipple]="true" routerLink="/prompt">Prompts</button>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar class="toolbar">
          <button *ngIf="!snav.opened" mat-icon-button (click)="snav.toggle()"><mat-icon svgIcon="side-nav"></mat-icon></button>
          <mat-icon class="logo" svgIcon="logo" routerLink=""></mat-icon><span class="tittle" routerLink="">{{title}}</span>
          <button mat-icon-button class="user" [matMenuTriggerFor]="menu">
            <mat-icon *ngIf="!isAuthenticated()">account_circle</mat-icon>
            <img  *ngIf="isAuthenticated()" alt="avatar" [src]="currentUser().picture" class="avatar"/>
          </button>
          <mat-menu #menu="matMenu">
            <div *ngIf="!isAuthenticated()">
              <button mat-button (click)="login()" >Log In</button>
            </div>
            <div *ngIf="isAuthenticated()">
              <mat-list class="user-menu">
                <mat-list-item>{{currentUser().name}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{currentUser().email}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><button mat-button color="error" (click)="logOut()" >Log Out</button></mat-list-item>
              </mat-list>
            </div>
          </mat-menu>
        </mat-toolbar>
        <router-outlet/>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
