@use '@angular/material' as mat;
@use './theme-colors' as gpt;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$gptTheme: mat.define-theme(
    (
      color: (
        primary: gpt.$primary-palette,
        tertiary: gpt.$tertiary-palette,
        theme-type: dark,
      ),
      typography: (
        plain-family: Inter,
        brand-family: Inter,
        bold-weight: 600,
        medium-weight: 500,
        regular-weight: 400
      ),
      density: (
        scale: -3
      )
    )
);

html {
  color-scheme: dark;
  @include mat.all-component-colors($gptTheme);
  @include mat.typography-hierarchy($gptTheme);
  @include mat.all-component-densities($gptTheme);

  @include mat.sidenav-overrides((
    'container-background-color': mat.get-theme-color($gptTheme, primary, 10),
    'content-background-color':   mat.get-theme-color($gptTheme, primary, 20)
  ));

  @include mat.toolbar-overrides((
    'container-background-color': mat.get-theme-color($gptTheme, primary, 20)
  ));

  @include mat.divider-overrides((
    'color': mat.get-theme-color($gptTheme, primary, 30)
  ));

  mat-sidenav {
    @include mat.toolbar-overrides((
      'container-background-color': mat.get-theme-color($gptTheme, primary, 10)
    ));
  }

  .primary {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'primary');
  }

  .secondary {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'secondary');
  }

  .tertiary {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'tertiary');
  }

  .error {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'error');
  }

}


html, body {
  height: 100%;
}

body {
  margin: 0;
}

