@use '@angular/material' as mat;
@use './theme-colors' as gpt;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

$gptTheme: mat.define-theme(
    (
      color: (
        primary: gpt.$primary-palette,
        tertiary: gpt.$tertiary-palette,
        theme-type: dark,
      ),
      typography: (
        plain-family: Inter,
        brand-family: Inter,
        bold-weight: 400,
        medium-weight: 300,
        regular-weight: 200
      ),
      density: (
        scale: -3
      )
    )
);


:root {
  color-scheme: dark;
  @include mat.all-component-themes($gptTheme);
  @include mat.sidenav-overrides((
    container-background-color: mat.get-theme-color($gptTheme, primary, 10),
    content-background-color: mat.get-theme-color($gptTheme, primary, 20)
  ));
  @include mat.toolbar-overrides((
    container-background-color: mat.get-theme-color($gptTheme, primary, 20)
  ));
  @include mat.divider-overrides((
    color: mat.get-theme-color($gptTheme, primary, 30)
  ));
  @include mat.slide-toggle-overrides((
    track-outline-width: 0,
    unselected-icon-color: transparent,
    selected-icon-color: transparent,
    selected-track-color: #008635,
    selected-hover-track-color: #008635,
    selected-focus-track-color: #008635,
    selected-pressed-track-color: #008635,
    track-height: 30px,
    selected-handle-color: mat.get-theme-color($gptTheme, primary, 20),
    selected-hover-handle-color: mat.get-theme-color($gptTheme, primary, 20),
    selected-focus-handle-color: mat.get-theme-color($gptTheme, primary, 20),
    selected-pressed-handle-color: mat.get-theme-color($gptTheme, primary, 20),
    unselected-handle-color: mat.get-theme-color($gptTheme, primary, 10),
    unselected-hover-handle-color: mat.get-theme-color($gptTheme, primary, 10),
    unselected-focus-handle-color: mat.get-theme-color($gptTheme, primary, 10),
    unselected-pressed-handle-color: mat.get-theme-color($gptTheme, primary, 10),
  ));
  @include mat.table-overrides((
    background-color: mat.get-theme-color($gptTheme, primary, 10),
    row-item-outline-color: mat.get-theme-color($gptTheme, primary, 30),
  ));
  @include mat.card-overrides((
    elevated-container-shape: 10px,
    elevated-container-color: mat.get-theme-color($gptTheme, primary, 10)
  ));
  @include mat.expansion-overrides((
    container-background-color: mat.get-theme-color($gptTheme, primary, 10),
  ));
  @include mat.card-overrides((
    title-text-size: 1rem,
    subtitle-text-size: 0.875rem,
  ));

  mat-card {
    margin: 0 15px 15px 15px;
  }

  mat-card-content {
    overflow-x: auto;
  }

  mat-sidenav {
    @include mat.toolbar-overrides((
      'container-background-color': mat.get-theme-color($gptTheme, primary, 10)
    ));
  }

  .primary {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'primary');
  }

  .secondary {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'secondary');
  }

  .tertiary {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'tertiary');
  }

  .error {
    @include mat.button-color($theme: $gptTheme, $color-variant: 'error');
    @include mat.icon-button-color($theme: $gptTheme, $color-variant: 'error');
    @include mat.icon-color($theme: $gptTheme, $color-variant: 'error');
    @include mat.card-overrides((
      subtitle-text-color: mat.get-theme-color($gptTheme, error, 90),
    ));
    @include mat.chips-overrides((
      outline-color:  mat.get-theme-color($gptTheme, error, 35),
      label-text-color:  mat.get-theme-color($gptTheme, error, 35),
    ));
  }

  .success {
    @include mat.chips-overrides((
      outline-color:  #008635,
      label-text-color:  #008635,
    ));
  }

  mat-card-header {
    margin-bottom: 15px;
  }

}


html, body {
  height: 100%;

  .card-container {
    margin: 0 15px 15px 15px;
  }
}

body {
  margin: 0;
}
